*{box-sizing: border-box;}
body {
    font-family: sans-serif;
    background: #d4eefc;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
  }
  main {
  padding-top: 120px; /* Compensa altezza dell'header */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.fruzzi{
      display: flex;
      flex-direction: row;
      gap: 30px;
      align-items: center;
      text-align: left;
      padding: 20px;
      background-color: #171c4b;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
      width: 100%;
      margin: 0px;
      padding-left: 2%;
      padding-right: 15%;
      border: 0 auto;
      height: 120px;
      justify-content: space-between;
      position: fixed;
    }
    .fruzzi p a {
      text-decoration: none;
      color: #ffffff;
      font-family: 'Raleway', sans-serif, cursive;
      font-size: 20px;
    }
    .fruzzi p a:hover {
      color: #6176bc;
      cursor: pointer;
    }
    .fruzzi img {
      width: 40%;
      height: auto;
      flex: 0 0 40%;
      padding-left: 5%;
      
    }
    .fruzzi p{
      font-size: 20px;
      color: #ffffff;
      font-family: 'Raleway', sans-serif, cursive;
    }
    .fruzzi p:hover{
      color: #6176bc;
      cursor: pointer;
    }
    .fruzzi p:nth-child(4) {
      background-image: url(img/italia.png);
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 40px 20px;
      /* padding-left: 20px;
      padding-right: 8px; */
      text-align: right;
      line-height: 1;
    }
    .fruzzi p:nth-child(5) {
      background-image: url(img/utente.png);
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      /* padding-left: 20px;
      padding-right: 22px; */
      text-align: right;
      line-height: 1;
    }

  .fruzzi p:nth-child(2) {
    flex: 0 0 22%;
  }
  .fruzzi p:nth-child(3),
  .fruzzi p:nth-child(4),
  .fruzzi p:nth-child(5) {
    flex: 0 0 7%;
    text-align: right;
  }
  .riga{
    background-color: white;
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap:20px;
    
  }
  .riga p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
  }
  .riga p:hover{
    color: #6176bc;
    cursor: pointer;
  }
  .riga p:nth-child(1){
    flex: 0 0 50%;
  }
  .riga p:nth-child(2),
  .riga p:nth-child(3),
  .riga p:nth-child(4),
  .riga p:nth-child(5),
  .riga p:nth-child(6) {
    flex: 0 0 7%;
  }
  .riga p:nth-child(7){
    flex: 0 0 15%;
  }
  .immagine_iniziale{
    width: 100%;
    height: auto;
    object-fit: cover;

  }
  .date {
    text-align: center;
    padding: 30px;
    background-color: #171c4b;
    width: 100%;
  }
  
  .date input {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .date button {
    padding: 10px 20px;
    background-color: #7b90d5;
    color: white;
    border: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
  }
  .date h2{
    color:white
  }
  .date label{
    color:white
  }
  .destinazioni {
      display: flex;
      flex-direction: column; 
      gap: 30px; 
      margin-top: 10px;
      margin-bottom: 10px;
    }
  .contenuto {
      display: flex;
      gap: 20px;
      align-items: center;
      text-align: left;
      padding: 20px;
      border-radius: 10px;
      background-color: #f9f9f9;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
      width: 80%;
      margin: 0 auto;
      margin-bottom: 20px;
      
    }
    .contenuto p{
      font-size: 24px;
      color: #333;
      font-family: 'Raleway', sans-serif, cursive;
    }
    .contenuto p strong {
      color: #000000; 
      font-size: 40px;
    }
    .contenuto em {
      color: #555;
      font-style: italic;
      font-size: 14px;
    }
    .immagini {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .immagine-principale {
      width: 300px;
      height: 300px;
      border-radius: 20px;
      transition: transform 0.3s ease;
    }
    .immagine-principale:hover {
      transform: scale(1.05); 
    }
    
    .immagini-secondarie {
      display: flex;
      flex-direction: row;
      gap: 10px;
      margin-top: 10px;
    }
    
    .immagine-secondaria {
      width: 145px;
      height: auto;
      border-radius: 20px;
      transition: transform 0.3s ease;
    }

    .immagine-secondaria:hover {
      transform: scale(1.05); /* Effetto zoom al passaggio del mouse */
    }

    .dettagli {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
    }
    .dettagli p {
      font-size: 21px;
      color: #000000;
      font-family: 'Raleway', sans-serif, cursive;
    }

    .dettagli a{
      color: #6176bc; 
      font-size: 40px;
      text-decoration: none;
      font-family: 'Raleway', sans-serif, cursive;
      font-weight: bold;   
    }
   
    .dettagli p:last-child {
      text-align: right;

    }
    .dettagli p:nth-child(2) {
      padding-left: 20px;
      padding-right: 20px;
    }
    .prezzo-badge {
    background-color: #6176bc; 
    color: white;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
  }

  .mantieni-misure{
    border-radius: 20px;
    overflow: hidden;
  }

  .mantieni-misure img {
    display: block;
  }
  .trovato {
      text-align: center;
      margin: 50px 0;
      width: 80%;
    }
    
.trovato h2 {
    font-size: 2em;
    color: #333;
    font-family: 'Raleway', sans-serif, cursive; font-size: 50px;
    }

.trovato p {
    font-size: 1.2em;
    color: #666;
    font-family: 'Raleway', sans-serif, cursive; font-size: 30px;
    }
.trovato a{
    color:#6176bc;
    text-decoration: none;
    font-weight: bold;
    }
.testimonials {
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
    border-radius: 8px;
  }
  
  .testimonial {
    margin-bottom: 30px;
    font-style: italic;
  }
  
  .testimonial p {
    font-size: 1.2em;
    color: #666;
  }
  
  .testimonials h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }

